@page "/"
@using NavDemo.Web.Models
@inject NavigationManager navManager

<h1>Index</h1>

<ProgressMenu Items="Menu"/>

@code{
    public ProgressMenuItem[] Menu { get; set; }

    private void OnSelectHandler(int id)
    {
        navManager.NavigateTo($"/stub/{id}");
    }

    protected override void OnInitialized()
    {
        Menu = new[]
        {
            new ProgressMenuItem(1, "item 1", onSelect: OnSelectHandler, new[]
            {
                new ProgressMenuItem(2, "item 1.1", onSelect: OnSelectHandler),
                new ProgressMenuItem(3, "item 1.2", onSelect: OnSelectHandler),
                new ProgressMenuItem(4, "item 1.3", onSelect: OnSelectHandler),
            }),
            new ProgressMenuItem(5, "item 2", onSelect: OnSelectHandler, new[]
            {
                new ProgressMenuItem(6, "item 2.1", onSelect: OnSelectHandler),
                new ProgressMenuItem(7, "item 2.2", onSelect: OnSelectHandler),
                new ProgressMenuItem(8, "item 2.3", onSelect: OnSelectHandler),
            }),
            new ProgressMenuItem(9, "item 3", onSelect: OnSelectHandler, new[]
            {
                new ProgressMenuItem(10, "item 3.1", onSelect: OnSelectHandler, new[]
                {
                    new ProgressMenuItem(11, "item 3.1.1", onSelect: OnSelectHandler, new []
                    {
                        new ProgressMenuItem(11, "item 3.1.1.1", onSelect: OnSelectHandler),
                        new ProgressMenuItem(12, "item 3.1.1.2", onSelect: OnSelectHandler),
                        new ProgressMenuItem(13, "item 3.1.1.3", onSelect: OnSelectHandler, new[]
                        {
                            new ProgressMenuItem(11, "item 3.1.1.3.1", onSelect: OnSelectHandler),
                            new ProgressMenuItem(12, "item 3.1.1.3.2", onSelect: OnSelectHandler),
                        }),
                    }),
                    new ProgressMenuItem(14, "item 3.1.2", onSelect: OnSelectHandler),
                    new ProgressMenuItem(15, "item 3.1.3", onSelect: OnSelectHandler),
                }),
            }),
            new ProgressMenuItem(16, "item 4", onSelect: OnSelectHandler),
        };
        base.OnInitialized();
    }

}
