$min-width: 120px;

.progress-menu {
    ul {
        .root-item {
            min-width: $min-width;
            display: inline-block;
            float: left;
            background-color: gainsboro;
            height: 40px;
            background-color: white;
        }
    }

    li {
        position: relative;
        background-color: white;

        a {
            color: black;
            text-decoration: none;
            padding: 10px;
            display: block;

            i {
                font-size: 8px;
                font-style: normal;
                float: right;
                line-height: 23px;
            }
        }

        &:hover {
            & > a {
                color: hotpink;
            }

            background-color: #f2f2f2;
        }
    }
}

.has-children {
    &:hover > .sub-menu {
        display: block;
    }
}

.sub-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: $min-width;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 30%);
    z-index: 1;
}

.menu-bottom {
    top: 40px;
    left: 0;
}

.menu-right {
    top: 0;
    right: -100%;
}