@using NavDemo.Web.Models
<nav class="progress-menu">
    <ul>
        @foreach (var item in Items)
        {
            <ProgressMenuItemComponent Item="@item" IsRoot="true" PlacementClass="menu-bottom"/>
        }
    </ul>
</nav>


@code {
    [Parameter]
    public ProgressMenuItem[] Items { get; set; }
}
